In [74]:
import pandas as pd
import seaborn as sns 
import numpy as np

In [222]:
countries = pd.read_csv("Data/country_profile_variables.csv",decimal=',')

In [223]:
import pickle

In [224]:
convCountry2Code = pickle.load(open("Data/countryToCode.pkl","rb"))

In [225]:
countries["country"] =countries["country"].str.strip()

In [226]:
countries["Code"] = countries["country"].apply(lambda x: convCountry2Code[x] if x in convCountry2Code else "")

In [227]:
combined_enforce = pd.read_pickle("Data/combined_enforce.pkl")

In [228]:
combined_enforce = combined_enforce.reset_index()

In [229]:
countries.columns

Index(['country', 'Region', 'Surface area (km2)',
       'Population in thousands (2017)', 'Population density (per km2, 2017)',
       'Sex ratio (m per 100 f, 2017)',
       'GDP: Gross domestic product (million current US$)',
       'GDP growth rate (annual %, const. 2005 prices)',
       'GDP per capita (current US$)', 'Economy: Agriculture (% of GVA)',
       'Economy: Industry (% of GVA)',
       'Economy: Services and other activity (% of GVA)',
       'Employment: Agriculture (% of employed)',
       'Employment: Industry (% of employed)',
       'Employment: Services (% of employed)',
       'Unemployment (% of labour force)',
       'Labour force participation (female/male pop. %)',
       'Agricultural production index (2004-2006=100)',
       'Food production index (2004-2006=100)',
       'International trade: Exports (million US$)',
       'International trade: Imports (million US$)',
       'International trade: Balance (million US$)',
       'Balance of payments, current account (million US$)',
       'Population growth rate (average annual %)',
       'Urban population (% of total population)',
       'Urban population growth rate (average annual %)',
       'Fertility rate, total (live births per woman)',
       'Life expectancy at birth (females/males, years)',
       'Population age distribution (0-14 / 60+ years, %)',
       'International migrant stock (000/% of total pop.)',
       'Refugees and others of concern to UNHCR (in thousands)',
       'Infant mortality rate (per 1000 live births',
       'Health: Total expenditure (% of GDP)',
       'Health: Physicians (per 1000 pop.)',
       'Education: Government expenditure (% of GDP)',
       'Education: Primary gross enrol. ratio (f/m per 100 pop.)',
       'Education: Secondary gross enrol. ratio (f/m per 100 pop.)',
       'Education: Tertiary gross enrol. ratio (f/m per 100 pop.)',
       'Seats held by women in national parliaments %',
       'Mobile-cellular subscriptions (per 100 inhabitants)',
       'Mobile-cellular subscriptions (per 100 inhabitants).1',
       'Individuals using the Internet (per 100 inhabitants)',
       'Threatened species (number)', 'Forested area (% of land area)',
       'CO2 emission estimates (million tons/tons per capita)',
       'Energy production, primary (Petajoules)',
       'Energy supply per capita (Gigajoules)',
       'Pop. using improved drinking water (urban/rural, %)',
       'Pop. using improved sanitation facilities (urban/rural, %)',
       'Net Official Development Assist. received (% of GNI)', 'Code'],
      dtype='object')

In [230]:
countries = countries.drop(["Region","country"],axis=1)

In [231]:
countries

,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),Economy: Services and other activity (% of GVA),...,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI),Code
0,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,23.3,53.3,...,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99,AFG
1,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,26.0,51.7,...,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99,ALB
2,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,37.3,50.5,...,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99,DZA
3,199,56,278.2,103.6,-99,-99,-99,-99,-99,-99,...,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99,ASM
4,468,77,163.8,102.3,2812,0.8,39896.4,0.5,10.8,88.6,...,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99,AND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,142,12,84.1,93.4,-99,-99,-99,-99,-99,-99,...,89,41.6,0.0/1.6,-99,26,-99,-99,-99,-99,
225,266000,553,2.1,110.1,-99,-99,-99,-99,-99,-99,...,49,2.7,-99,-99,-99,-99,-99,-99,-99,
226,527968,28250,53.5,102.1,29688,-28.1,1106.4,14.7,36.9,48.4,...,298,1.0,22.7/0.9,668,12,72.0/46.5,92.5/34.1,2.99,-99,YEM
227,752612,17094,23.0,98.5,21255,2.9,1311.1,8.2,32.3,59.5,...,88,65.6,4.5/0.3,374,26,85.6/51.3,55.6/35.7,3.96,-99,ZMB
228,390757,16530,42.7,95.0,13893,1.1,890.4,13.0,30.5,56.5,...,89,37.2,12.0/0.8,482,30,97.0/67.3,49.3/30.8,6.00,-99,ZWE

In [232]:
countries[["Population density (per km2, 2017)","GDP growth rate (annual %, const. 2005 prices)"]].astype(float)

,"Population density (per km2, 2017)","GDP growth rate (annual %, const. 2005 prices)"
0,54.4,-2.4
1,106.9,2.6
2,17.3,3.8
3,278.2,-99.0
4,163.8,0.8
...,...,...
224,84.1,-99.0
225,2.1,-99.0
226,53.5,-28.1
227,23.0,2.9
228,42.7,1.1

In [233]:
countries.columns[15]

'Agricultural production index (2004-2006=100)'

In [261]:
def divide(x):
    if len(x)==1:
        return np.nan
    a = x[0]
    b = x[1]
        
    if a=="" or b=="":
        return 0
    else:
        if float(b)==0:
            return 0
        else:
            return float(a)/float(b)

In [235]:
countries['Labour force participation (female/male pop. %)'] = countries['Labour force participation (female/male pop. %)'].str.split("/").apply(lambda x: divide(x))

In [236]:
countries["Life expectancy at birth (females/males, years)"] =  countries['Life expectancy at birth (females/males, years)'].str.split("/").apply(lambda x: divide(x))

In [237]:
countries["Population age distribution (0-14 / 60+ years, %)"] =  countries['Population age distribution (0-14 / 60+ years, %)'].str.split("/").apply(lambda x: divide(x))

In [238]:
countries["International migrant stock (000/% of total pop.)"] =  countries['International migrant stock (000/% of total pop.)'].str.split("/").apply(lambda x: divide(x))

In [239]:
countries['Education: Primary gross enrol. ratio (f/m per 100 pop.)'] =  countries['Education: Primary gross enrol. ratio (f/m per 100 pop.)'].str.split("/").apply(lambda x: divide(x))

In [240]:
countries["Education: Secondary gross enrol. ratio (f/m per 100 pop.)"] =  countries['Education: Secondary gross enrol. ratio (f/m per 100 pop.)'].str.split("/").apply(lambda x: divide(x))

In [241]:
countries["Education: Tertiary gross enrol. ratio (f/m per 100 pop.)"] =  countries['Education: Tertiary gross enrol. ratio (f/m per 100 pop.)'].str.split("/").apply(lambda x: divide(x))

In [262]:
countries["Forested area (% of land area)"] = countries["Forested area (% of land area)"].str.split("/").apply(lambda x: divide(x))

In [289]:
countries[['Pop. using improved drinking water (urban %)',"Pop. using improved drinking water (rural %)"]]= countries['Pop. using improved drinking water (urban/rural, %)'].replace("-99","nan/nan").str.split("/",expand=True).replace("", np.nan).astype(float)

In [291]:
countries.drop("Pop. using improved drinking water (urban/rural, %)",axis=1,inplace=True)

In [294]:
countries[['Pop. using improved sanitation facilities (urban %)',"Pop. using improved sanitation facilities (rural %)"]]= countries['Pop. using improved sanitation facilities (urban/rural, %)'].replace("-99","nan/nan").str.split("/",expand=True).replace("", np.nan).astype(float)
countries.drop("Pop. using improved sanitation facilities (urban/rural, %)",axis=1,inplace=True)

In [303]:
countries["Energy supply per capita (Gigajoules)"] =  countries['Energy supply per capita (Gigajoules)'].str.split("/").apply(lambda x: divide(x))

In [311]:
countries.columns[4]

'Code'

In [314]:
countries = countries.set_index("Code")

In [323]:
countries = countries.astype(float)

In [325]:
countries = countries.replace(-99.0,np.nan)

In [326]:
countries.dtypes

Surface area (km2)                                            float64
Population in thousands (2017)                                float64
Population density (per km2, 2017)                            float64
Sex ratio (m per 100 f, 2017)                                 float64
GDP: Gross domestic product (million current US$)             float64
GDP growth rate (annual %, const. 2005 prices)                float64
GDP per capita (current US$)                                  float64
Economy: Agriculture (% of GVA)                               float64
Economy: Industry (% of GVA)                                  float64
Economy: Services and other activity (% of GVA)               float64
Employment: Agriculture (% of employed)                       float64
Employment: Industry (% of employed)                          float64
Employment: Services (% of employed)                          float64
Unemployment (% of labour force)                              float64
Labour force participation (female/male pop. %)               float64
Agricultural production index (2004-2006=100)                 float64
Food production index (2004-2006=100)                         float64
International trade: Exports (million US$)                    float64
International trade: Imports (million US$)                    float64
International trade: Balance (million US$)                    float64
Balance of payments, current account (million US$)            float64
Population growth rate (average annual %)                     float64
Urban population (% of total population)                      float64
Urban population growth rate (average annual %)               float64
Fertility rate, total (live births per woman)                 float64
Life expectancy at birth (females/males, years)               float64
Population age distribution (0-14 / 60+ years, %)             float64
International migrant stock (000/% of total pop.)             float64
Refugees and others of concern to UNHCR (in thousands)        float64
Infant mortality rate (per 1000 live births                   float64
Health: Total expenditure (% of GDP)                          float64
Health: Physicians (per 1000 pop.)                            float64
Education: Government expenditure (% of GDP)                  float64
Education: Primary gross enrol. ratio (f/m per 100 pop.)      float64
Education: Secondary gross enrol. ratio (f/m per 100 pop.)    float64
Education: Tertiary gross enrol. ratio (f/m per 100 pop.)     float64
Seats held by women in national parliaments %                 float64
Mobile-cellular subscriptions (per 100 inhabitants)           float64
Mobile-cellular subscriptions (per 100 inhabitants).1         float64
Individuals using the Internet (per 100 inhabitants)          float64
Threatened species (number)                                   float64
Forested area (% of land area)                                float64
CO2 emission estimates (million tons/tons per capita)         float64
Energy production, primary (Petajoules)                       float64
Energy supply per capita (Gigajoules)                         float64
Net Official Development Assist. received (% of GNI)          float64
Pop. using improved drinking water (urban %)                  float64
Pop. using improved drinking water (rural %)                  float64
Pop. using improved sanitation facilities (urban %)           float64
Pop. using improved sanitation facilities (rural %)           float64
dtype: object

In [332]:
countries.columns = ["NATL_"+x for x in countries.columns]

In [333]:
cbd = pd.merge(combined_enforce,countries.reset_index(),how="inner")

In [334]:
cbd.set_index("Code")

,sales_per_day_1875,sales_per_day_1880,sales_per_day_1885,sales_per_day_1890,sales_per_day_1895,sales_per_day_1900,sales_per_day_1901,sales_per_day_1902,sales_per_day_1903,sales_per_day_1904,...,NATL_Threatened species (number),NATL_Forested area (% of land area),NATL_CO2 emission estimates (million tons/tons per capita),"NATL_Energy production, primary (Petajoules)",NATL_Energy supply per capita (Gigajoules),NATL_Net Official Development Assist. received (% of GNI),NATL_Pop. using improved drinking water (urban %),NATL_Pop. using improved drinking water (rural %),NATL_Pop. using improved sanitation facilities (urban %),NATL_Pop. using improved sanitation facilities (rural %)
Code,,,,,,,,,,,,,,,,,,,,,
ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.7,3.055556,48.0,46.0,1.000000,NaN,96.2,78.2,3.17,NaN
AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2,23.614379,15282.0,222.0,1.000000,NaN,100.0,100.0,NaN,NaN
AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.9,8.507246,505.0,158.0,1.000000,NaN,100.0,100.0,NaN,NaN
AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.5,9.615385,2459.0,61.0,1.217224,NaN,91.6,86.6,0.14,NaN
BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.6,11.253012,520.0,196.0,1.000000,NaN,99.5,99.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GRL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.055556,2.0,154.0,1.000000,NaN,100.0,100.0,NaN,NaN
GUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.3,NaN,NaN,NaN,1.000000,NaN,89.8,89.8,NaN,NaN
MNP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.5,NaN,NaN,NaN,1.000000,NaN,79.7,79.7,NaN,NaN
PRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.5,NaN,1.0,16.0,0.000000,NaN,99.3,99.3,NaN,NaN
VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.6,NaN,NaN,NaN,1.000000,NaN,96.4,96.4,NaN,NaN

In [335]:
cbd.to_pickle("Data/allCombined.pkl")